<!DOCTYPE html>
<html lang="vi">

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/adminThienAn/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" href="/adminThienAn/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="/adminThienAn/js/plugins/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="/adminThienAn/css/jquery-confirm.min.css">
    <script type="text/javascript" src="/adminThienAn/ckeditor/ckeditor.js"></script>

    <!-- Essential javascripts for application to work-->

    <script src="/adminThienAn/js/jquery-3.2.1.min.js"></script>
    <script src="/adminThienAn/js/popper.min.js"></script>
    <script src="/adminThienAn/js/bootstrap.min.js"></script>
    <script src="/adminThienAn/js/plugins/jquery.min.js"></script>
    <script src="/adminThienAn/js/main.js"></script>

    <!-- The javascript plugin to display page loading on top-->
    <script src="/adminThienAn/js/plugins/pace.min.js"></script>
    <style>
        .Choicefile {
            display: block;
            background: #14142B;
            border: 1px solid #fff;
            color: #fff;
            width: 150px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            padding: 5px 0px;
            border-radius: 5px;
            font-weight: 500;
            align-items: center;
            justify-content: center;
        }

            .Choicefile:hover {
                text-decoration: none;
                color: white;
            }

        #uploadfile,
        .removeimg {
            display: none;
        }

        #thumbbox {
            position: relative;
            width: 100%;
            margin-bottom: 20px;
        }

        .removeimg {
            height: 25px;
            position: absolute;
            background-repeat: no-repeat;
            top: 5px;
            left: 5px;
            background-size: 25px;
            width: 25px;
            /* border: 3px solid red; */
            border-radius: 50%;
        }

            .removeimg::before {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                content: '';
                border: 1px solid red;
                background: red;
                text-align: center;
                display: block;
                margin-top: 11px;
                transform: rotate(45deg);
            }

            .removeimg::after {
                /* color: #FFF; */
                /* background-color: #DC403B; */
                content: '';
                background: red;
                border: 1px solid red;
                text-align: center;
                display: block;
                transform: rotate(-45deg);
                margin-top: -2px;
            }
    </style>

</head>

<body onload="time()" class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header">
        <!-- Sidebar toggle button-->
        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
            <!-- User Menu-->
            <li>
                <a class="app-nav__item" href="@Url.Action("Index", "Home")">
                    <i class='bx bx-log-out bx-rotate-180'></i>
                </a>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar" src="~/adminThienAn/assets/images/avtHotBoy.jpg" width="50px"
                 alt="User Image">
            <div>
                <p class="app-sidebar__user-name"><b>Admin</b></p>
                <p class="app-sidebar__user-designation">Wellcome my Boss</p>
            </div>
        </div>
        <hr>
        <ul class="app-menu">
            <li>
                <a class="app-menu__item haha" asp-controller="POS" asp-action="Index">
                    <i class='app-menu__icon bx bx-cart-alt'></i>
                    <span class="app-menu__label">POS Bán Hàng</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item @(ViewData["ActiveMenu"].ToString() == "Product" ? "active" : "")"
                   asp-controller="AdminProducts" asp-action="Index">
                    <i class='app-menu__icon bx bx-id-card'></i>
                    <span class="app-menu__label">Quản lý sản phẩm</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item @(ViewData["ActiveMenu"].ToString() == "SaleStaff" ? "active" : "")"
                   asp-controller="SaleStaffs" asp-action="Index">
                    <i class='app-menu__icon bx bx-id-card'></i>
                    <span class="app-menu__label">Quản lý nhân viên</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item @(ViewData["ActiveMenu"].ToString() == "Customer" ? "active" : "")"
                   asp-controller="Customers" asp-action="Index">
                    <i class='app-menu__icon bx bx-id-card'></i>
                    <span class="app-menu__label">Quản lý khách hàng</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item @(ViewData["ActiveMenu"].ToString() == "Order" ? "active" : "")"
                   asp-controller="AdminOrders" asp-action="Index">
                    <i class='app-menu__icon bx bx-id-card'></i>
                    <span class="app-menu__label">Quản lý đơn hàng</span>
                </a>
            </li>

            <li>
                <a class="app-menu__item @(ViewData["ActiveMenu"].ToString() == "Shipment" ? "active" : "")"
                   asp-controller="Shipments" asp-action="Index">
                    <i class='app-menu__icon bx bx-id-card'></i>
                    <span class="app-menu__label">Quản lý nhập hàng</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item @(ViewData["ActiveMenu"].ToString() == "Category" ? "active" : "")"
                   asp-controller="Categories" asp-action="Index">
                    <i class='app-menu__icon bx bx-id-card'></i>
                    <span class="app-menu__label">Quản lý danh mục</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item @(ViewData["ActiveMenu"].ToString() == "Supplier" ? "active" : "")"
                   asp-controller="Suppliers" asp-action="Index">
                    <i class='app-menu__icon bx bx-id-card'></i>
                    <span class="app-menu__label">Quản lý nhà cung cấp</span>
                </a>
            </li>
        </ul>
    </aside>
    <main class="app-content">
        @RenderBody()
    </main>


    <!-- Page specific javascripts-->
    <script src="/adminThienAn/js/plugins/jquery-confirm.min.js"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" src="/adminThienAn/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/adminThienAn/js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#sampleTable').DataTable();
    </script>
    <script src="/adminThienAn/js/plugins/chart.js"></script>
    <script src="/adminThienAn/js/helper.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
