@* @model IEnumerable<ThienAnFuni.Models.Product> *@
@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Danh sách sản phẩm</b></a></li>
    </ul>
    <div id="clock"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-sm-2">
                        <a class="btn btn-add btn-sm" asp-controller="AdminProducts" asp-action="Create" title="Thêm">
                            <i class="fas fa-plus"></i>
                            Tạo mới sản phẩm
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-danger btn-sm" asp-controller="AdminProducts" asp-action="ListDeleted" title="Thêm">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            Sản phẩm ngừng bán
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm pdf-file" type="button" title="In" onclick="myFunction(this)">
                            <i class="fas fa-file-pdf"></i> Xuất PDF
                        </a>
                    </div>

                </div>
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th width="20">Mã</th>
                            <th>Tên SP</th>
                            <th width="50">Ảnh</th>
                            <th>Tồn kho</th>
                            <th>Tình trạng</th>
                            <th>Giá bán</th>
                            <th>Danh mục</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>@product.Id</td>
                                <td>@product.Name</td>
                                <td>
                                    @if (product?.MainImg != null)
                                    {
                                        <img src="~/adminThienAn/image_product/@product.MainImg" alt="@product.Name" width="100px" />
                                    }
                                    else
                                    {
                                        <img src="~/adminThienAn/image_product/default.png" alt="Product Image" width="100px" />
                                    }
                                </td>
                                <td>@(product?.QuantityInStock ?? 0)</td>
                                <td>
                                    <span class="badge @(product.IsActive ? "bg-success" : "bg-danger")">
                                        @(product.IsActive ? "Còn hàng" : "Hết hàng")
                                    </span>
                                </td>
                                <td>@String.Format("{0:n0}đ", product.Price)</td>
                                <td>@product.CategoryName</td>
                                <td>
                                    <a class="btn btn-primary btn-sm edit" title="Sửa" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@product.Id">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <form asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@product.Id" method="post" style="display:inline;" onsubmit="return confirm('Bạn có chắc muốn ẩn sản phẩm này?');">
                                        <button type="submit" class=" trash btn btn-warning btn-sm " title="Xóa">
                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/adminThienAn/js/heper-upImg_Time.js"></script>
}