@model ThienAnFuni.Models.Customer
@{
    ViewData["Title"] = "Quản lý khách hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Danh sách khách hàng</b></a></li>
    </ul>
    <div id="clock"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
               @*  <div class="row element-button"> *@
                 @*    <div class="col-sm-2">
                        <a class="btn btn-add btn-sm" asp-action="Create" title="Thêm nhân viên mới">
                            <i class="fas fa-plus"></i>
                            Thêm nhân viên mới
                        </a>
                    </div> *@
                 @*    <div class="col-sm-2">
                        <a class="btn btn-danger btn-sm" asp-action="ListDeleted" title="DS nhân viên nghĩ việc">
                            <i class="fa fa-trash"></i>
                            DS nhân viên nghĩ việc
                        </a>
                    </div> *@
            @*         @if (Model.IsActive == true)
                    {
                        <div class="col-sm-2">
                            <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@Model?.Id" title="Cập nhật thông tin nhân viên hiện tại">
                                <i class="fa fa-edit"></i>
                                Cập nhật thông tin nhân
                            </a>
                        </div>
                    }
                </div> *@
           @*      @{
                    var errorMessage = TempData["ErrorMessage"] as string;
                    if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="alert alert-danger bg-danger">
                            @errorMessage
                        </div>
                    }
                } *@
                <h3 class="text-center">Thông tin khách hàng</h3>
                <dl class="row">
                    <dt class="col-sm-3 font-weight-bold">
                        Mã KH
                       @*  @Html.DisplayNameFor(model => model.Id) *@  <!-- Hiển thị nhãn: "Id" -->
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Id)  <!-- Hiển thị giá trị của "Id" -->
                    </dd>


                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.FullName)
                    </dd>

                    
                    <dt class="col-sm-3 font-weight-bold">
                        Tên tài khoản
                       @*  @Html.DisplayNameFor(model => model.UserName) *@
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>


                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Address)
                    </dd>


                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>


                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Email)
                    </dd>


                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.DateOfBirth)
                    </dd>


                    <dt class="col-sm-3 font-weight-bold">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                  @*   <dt class="col-sm-3 font-weight-bold">
                        Mật khẩu
                    </dt>
                    <dd class="col-sm-9">
                        ******************
                    </dd> *@
                </dl>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script src="/adminThienAn/js/heper-upImg_Time.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
