@model IEnumerable<ThienAnFuni.Models.Customer>

@{
    ViewData["Title"] = "Quản lý khách hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Danh sách khách hàng</b></a></li>
    </ul>
    <div id="clock"></div>
</div>

<!-- Bảng danh sách khách hàng -->
<div class="row" id="customerTable">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Id)</th>
                            <th>@Html.DisplayNameFor(model => model.FullName)</th>
                            <th>@Html.DisplayNameFor(model => model.Address)</th>
                            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                            <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
                            <th>@Html.DisplayNameFor(model => model.Gender)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                                <td>
                                   @*  <button class="btn btn-primary btn-sm editBtn"
                                            title="Sửa"
                                            data-id="@item.Id"
                                            data-fullname="@item.FullName"
                                            data-address="@item.Address"
                                            data-phonenumber="@item.PhoneNumber"
                                            data-email="@item.Email"
                                            data-dob="@item.DateOfBirth"
                                            data-gender="@item.Gender">
                                        <i class="fas fa-edit"></i>
                                    </button> *@
                                    <a class="btn btn-primary btn-sm edit" asp-action="Edit" asp-controller="Customers" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        // // Khi nhấn nút Sửa
        // // $(".editBtn").click(function () {
        //     var id = $(this).data("id");
        //     var fullname = $(this).data("fullname");
        //     var address = $(this).data("address");
        //     var phone = $(this).data("phonenumber");
        //     var email = $(this).data("email");
        //     var dob = $(this).data("dob");
        //     var gender = $(this).data("gender");

        //     // Điền dữ liệu vào form
        //     $("#CustomerId").val(id);
        //     $("#FullName").val(fullname);
        //     $("#Address").val(address);
        //     $("#PhoneNumber").val(phone);
        //     $("#Email").val(email);
        //     $("#DateOfBirth").val(dob);
        //     $("#Gender").val(gender);

        //     // Ẩn bảng và hiển thị form chỉnh sửa
        //     $("#customerTable").hide();
        //     $("#editForm").show();
        // });

        // // Khi nhấn Hủy
        // // $("#cancelEdit").click(function () {
        // //     // Hiển thị lại bảng và ẩn form chỉnh sửa
        // //     $("#editForm").hide();
        // //     $("#customerTable").show();
        // // });
    </script>
}
